/* CSS for all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: palevioletred;
    text-decoration: none;
}
a:hover{
    color: pink;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-right{
    text-align: right;
}
h1{
    color: white;
}
h4{
    margin: 1% 0;
    font-size: 1.2rem;
}
h5{
    margin: 1% 0;
    font-size: 0.8rem;
}
.clearfix{
    clear: both;
    float: none;
}

.btn{
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin: 3% 0;
}

.btn-primary{
    background-color: palevioletred;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: pink;
    color: palevioletred;
}
.img-responsive{
    width: 100%;
    border: none;
}

.img-curve{
    border-radius: 10px;
}
.float-container{
    position: relative;
}

.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
    color: white;
}

input{
    border: none;
    border-radius: 3px;
    height: 1.3rem;
    text-align: left;
}

fieldset{
    border: 1px solid white;
    width: 40%;
    float: left;
    margin: 2%;
    margin-left: 30%;
    padding-bottom: 1%;
}

legend{
    margin-left: 3%;
}
/* Logo */
.logo{
    width: 10%;
    float: left;
}


/* Menu */
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* Order */
.order{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 4%;
}

.tilte{
    border: 1px solid white;
    padding: 20%;
}

.food-images{
    width: 20%;
    float: left;
    margin: 2%;
    margin-top: 3%;
}
.food-dis{
    width: 65%;
    float: left;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.food-price{
    font-size: 1.2rem;
    margin: 1% 0;
}

.selected-food{
    border: none;
    width: 105%;
    padding-left: 1%;
}
.deli-detail{
    border: 1px solid white;
   width: 40%;
   float: left;
   display: inline;
   margin-left: 30%;
}

.details{
    width: 94%;
    float: left;
    margin: 3% 2% 3% 3%;
}
.info input{
    width: 99%;
    color: grey;
    padding-left: 1%;
}

.info textarea{
    width: 99%;
    height: 4rem;
    resize: none;
    border-radius: 3px;
    border: none;
    padding-left: 1%;
}

.details input{
    height: 1.5rem;
}


/* Social */
.social ul{
    list-style-type: none;
    margin-left: 42%;
}

.social ul li{
    display: inline;
    margin: 1%;
}
