/* CSS for all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: palevioletred;
    text-decoration: none;
}
a:hover{
    color: pink;
}
.container{
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-right{
    text-align: right;
}

.clearfix{
    clear: both;
    float: none;
}
/* Logo */
.logo{
   width: 10%;
    float: left;
}

.img-responsive{
    width: 100%;
}

/* Menu */
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* food-search */
.food-search{
    background-image: url(../images/bg.jpg);
    padding: 6%
}